@model IEnumerable<UI_MVC.Models.DigimonViewModel>

@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="primary-text"> Digimons List</h2>


<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Img)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Level
                </td>
                <td>
                    <a href=@item.Img target="_blank">
                        <button type="button" class="btn btn-warning">photo</button>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
